.container {
  margin: auto;
  text-align: center;
  justify-content: center;
  max-width: min-content;
}

.title {
  margin: 1rem 6%;
  line-height: 1.5;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.listTitles {
  display: flex;
  justify-content: left;
}

.listTitle {
  margin: 13px;
  text-align: left;
  width: 200px;
  font-weight: bold;
  padding: 10px;
}

.listItem {
  border-radius: 10px;
  display: flex;
  margin: 10px;
  border: 1px solid #eaeaea;
  text-align: left;
  align-items: center;
  width: min-content;
}

.text {
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid #aeaeaa;
  border-radius: 5px;
  font-size: inherit;
}

.listItem {
  display: flex;
  color: black;
  text-decoration: none;
}

.listItem:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.total {
  margin: 10px;
  font-weight: 700;
  padding: 1em 0;
  display: flex;
}

.totalTitle {
  margin: auto 10px auto auto;
}

.totalValue {
  margin: auto 10px;
  float: right;
}

.closedOrder {
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid #aeaeaa;
  border-radius: 5px;
  font-size: inherit;
  font-weight: 500;
  color: green;
}

.openedOrder {
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid #aeaeaa;
  border-radius: 5px;
  font-size: inherit;
  font-weight: 500;
  color: red;
}

.openedOrderButton {
  background: linear-gradient(#666, #000);
  border: 2px solid;
  border-radius: 12px;
  font-family: inherit;
  color: white;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.openedOrderButton:hover {
  background: linear-gradient(#000, #666);
}

.closedOrderButton {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 12px;
  font-family: inherit;
  color: black;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modalActive {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 350px;
  width: 600px;
}

.title {
  margin: 1rem 6%;
  line-height: 1.5;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.text {
  margin: 1rem;
  line-height: 1;
  text-align: left;
  font-weight: 350;
}

.input {
  margin: 1rem;
  height: 40px;
  width: 250px;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  font-size: large;
}

.text {
  padding: 8px;
}

.agreement {
  margin: 20px;
  color: #aeaeae;
  font-size: 10px;
}

.confirm {
  margin: 20px;
  background: linear-gradient(#666, #000);
  border: 2px solid;
  border-radius: 12px;
  font-family: inherit;
  color: white;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.confirm:hover {
  background: linear-gradient(#000, #666);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}
