@import url(https://allfont.ru/allfont.css?fonts=cyrillicold);

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Comic sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #999;
}

* {
  box-sizing: border-box;
}
