.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modalActive {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  height: 400px;
  width: 600px;
}

.title {
  margin: 1rem 6%;
  line-height: 1.5;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.subTitle {
  padding: 1rem;
  line-height: 1;
  text-align: left;
  font-weight: 400;
}

.input {
  margin: 1rem;
  height: 40px;
  width: 240px;
  border: 1px solid #aeaeae;
  border-radius: 10px;
}

.text {
  padding: 8px;
}

.agreement {
  margin: 20px;
  color: #aeaeae;
  font-size: 10px;
}

.agreement a {
  color: #0070f3;
}

.confirm {
  margin: 20px;
  background: linear-gradient(#666, #000);
  border: 2px solid;
  border-radius: 12px;
  font-family: inherit;
  color: white;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.confirm:hover {
  background: linear-gradient(#000, #666);
}

@media (max-width: 600px) {
  .modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 540px;
    width: 300px;
  }
  .title {
    margin: auto;
    text-align: center;
  }
  .subTitle {
    margin: auto;
    text-align: center;
  }
  .input {
    margin: 5px;
  }
  .confirm {
    margin: auto;
  }
  .agreement {
    margin: 5px;
  }
}
